@charset "utf-8";

body{
	font-family:"Trebuchet MS", Arial;
	font-size:13px;
	letter-spacing:1px;
}

h1 {font-size:24px;}

h2 {
	font-size:18px;
	color:#00ffff;
}

a{
	font-size:16px;
	color:#00ffff;
	text-decoration:none;
}


#absolue{
	color:white;
	font-weight:bold;
}

/*-----------------------------*
*	  COULEURS DE BASE		  *
*-----------------------------*/

.cyan{color:#00ffff;}
.magenta{color:#ff26ff;}
.jaune{color:#ffff26;}
.important {color:#a994ff;}
.gras{font-weight:bold;}
.italique{font-style:italic;}

/*-------------------------*
*	  FIL D'ARIANE		  *
*-------------------------*/


/* ARTICLE */

#article{color:#fff;}

#article strong {color:#a994ff;}
