/*
    Mise en page
*/
body{
    background-color:black;
    color: white;
    font-family: Arial;

}

table{
    float:left;
}

#outils Button{
    margin-left: 10px;
}

#terrain {
    background: #FFF url("../images/terrain.jpg");
    width:500px;
    height:500px;
    margin-top:15px;
    border-top:2px solid #444;
    border-right:5px solid #555;
    border-bottom:4px solid #666;
}


.conteneurAutreTortues{
    margin-left:100px;
}