/**
feuille de style developpez.com
*/

.alaune {
   border: 1px solid #6389D8;
   margin-bottom: 5px;
}

.alaune2{
   background: #dfeaf4;
   margin:6px 6px 2px 6px;
   padding:3px;
   text-align:left;
}

.alauneTitleBar{
   margin-left: 0px;
   margin-top: 5px;
}

.alauneType{
   font-size: 8pt;
   font-family: Tahoma;
   font-weight: bold;
}

h2.alauneType , h1.alauneType{
   display:block;
   margin:0;
   padding:1px;
   text-align:center;
   text-transform:uppercase;
   font-size:8pt;
   letter-spacing:2px;
   background: #6389d8;
   background-image: url(/public/images/top.png);
   color: white;
   -webkit-border-top-right-radius: 15px;
   -webkit-border-top-left-radius: 15px;
   -moz-border-radius: 15px 15px 0px 0px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

h3.alauneType {
   display:block;
   margin:3px 7px;
   border-bottom:1px solid #a7a7a7;
   text-align:center;
   font-size:8pt;
   padding:3px;
}

.alauneTitle{
   font-size: 12pt;
   color: #0249B4;
   font-weight: bold;
   margin: 0px 0px;
}

.alauneTitle a{
   font-size: 10pt;
   color: #0249B4;
   font-weight: bold;
   margin: 0px 0px;
   text-decoration: none;
}

.alauneContent{
   margin: 10px 10px 5px 5px;
   font-size: 8pt;
   color: #333333;
}

a.alauneSuite{
	color:#146392;
	text-decoration:none;
}

a.alauneSuite:hover{
	color:#146392;
	text-decoration:underline;	
}

.accroche{
   margin: 3px;
   padding-right: 6px;
}

.indexRub{
   font-size: 12pt;
   font-family: Arial;
   color: #0249B4;
}

#tabIndex{
   text-align:left;
   padding-left: 5px;
   padding-right: 5px;
}

.pagination{
	margin-top: 5px;
   text-align: right;
   color: #555;
   font-size: 7pt;
}

.pagination a:visited{
   color: #555;
}

.pagination .currentPage a{
   font-weight: bold;
}

.pagination a:hover{
   border: 1px solid #ccc;
   background-color: #e0e0e0;
   color: #555;
}

.pagination a, .pagination span{
	color:#146392;
   border: 1px solid #fff;
   padding: 2px 7px 2px 7px;
   text-decoration: none;
}

.category{
   font-size:10pt;
   margin-top: 3px;
   border:1px solid #06c;
}

.cat_header {
   background: #0066cc;
   padding: 6px 4px;
   color: white;
   letter-spacing: 1px;
   font-family:Arial;
   text-align:center;
   font-weight:bolder;
   text-transform: uppercase;
   font-size: 10pt;
   border-bottom:1px solid #39c;
}

.cat_content{
   padding: 5px;
   font-size: 8pt;
   background: #f1f0eb;
   margin:6px 6px 6px;
   text-align:left;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius : 15px;
}

.annonce{
   padding:5px;
   vertical-align:middle;
   border-bottom:1px dashed #ddd;
   padding-right: 5px;
   padding-left: 5px;
   font-size: 8pt;
   text-align:left;
}

.ann_date {
   color: #57A;
   font-size:7pt;
   padding-top:4px;	
   height: 100%;
}

.ann_date2{
	color:#57A;
	font-size:7pt;
	height:100%;
}

.ann_views{
   font-size: 8pt;
}

.annonceExtra{
   font-style: italic;
   color: #84afd4;
   text-align: right;
   font-size: 7pt;
   float: right;
   margin-top: 3px;
   margin-left: 20px;
}

.annonceLink, .annonceLink:link{
   text-decoration : none;
   color:#000;
   font-size: 8pt;
}

.annonceLink:hover, .cat_content a:hover{
   text-decoration : underline;
   color:#146392;
}

.ann_comment img{
   height: 10px;
   font-size: 8pt;
}

#loginFormPass, #loginFormlogin{
   border:1px solid #bbb;
   width: 100px;
}

.form_label{font-size: 9pt;}
#loginForm a{font-size: 9pt;}

.cat_content ul {
   margin:0;
   padding:0;
}

.cat_content li {
   list-style-image: url('../images/middot.png');
   list-style-type:none;
   margin:5px 0px;
   padding:0;
}

#topX ol{
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#topX li{
	padding-top: 3px;
	padding-bottom: 3px;
	list-style-type: none;
}
#topX li a{text-decoration : none;}

.cat_content a{
	color: #000;
	text-decoration: none;
}

.tinyTitle{
   font-size: 5pt;
   
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 6px;
}

.propose{
   text-align: right;
   font-size: 8pt;
   color: #000;
   margin-top: 4px;	
}

.propose a{
	color:#146392;
	text-decoration : none;
}

.propose a:hover{
	text-decoration : underline;	
	color:#146392;
}

#loginForm fieldset {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:320px;
}

#topXtitles {
	text-align:center;
}
#topXtitles div {	
	background-color:#6389D8;
	background-image: url(/public/images/button-unselected.png);
	color:white;
	font-size:8pt;
	margin:3px;
	padding:3px;
	text-decoration:none;
	cursor: pointer;
	display: inline;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius : 15px;
}
#topXtitles div.selectedTopX {
	background-color:#93B9F8;
	background-image: url(/public/images/button.png);
}

.classementPaginator{ 
	display: block;
	height:20px;
}
.classementPaginator img{
	cursor: pointer;
	margin: 0px 6px 0px 6px;
}
