body{
    background:black;
    color: white;
    font-family: arial;
}


/* Connexion/Déconnexion */

#etape{text-align: center;}

#etape h1{font-size:48px;}



/* Le chat */

/* couleurs */
.bleu{color:#66D1FF;}
.violet{color:#E0BCE0;}

#main{
    height:660px;
    overflow:auto;
    margin-bottom:15px;
}

    /* La table qui stock les messages */
    #tabMessagesContenu,
    #tabMessagesEnTete{
        border-collapse:collapse;
    }

    .date{width:100px;}
    .auteur{width:100px;}
    .message{width:80%;}

#saisie fieldset{
    height:60px;
    width:90%;
}

#saisie #texte{
    height:25px;
    width:90%;
}

#deconnexion{
    position:absolute;
    right:0px;
    margin-top: -65px;
}
