@charset "utf-8";

body{
	margin: 0; /* pour éviter les marges */ 
	text-align: center; /* pour corriger le bug de centrage IE */ 
	background-color:#000;
}


#conteneur{
	margin: 0 auto;
	width: 980px; /* largeur obligatoire pour être centré */
	background:url(../images/fond-site.jpg) repeat;
	text-align: left; /* on rétablit l'alignement normal du texte */ 
}

#absolue{
	position:absolute;
	width:150px;
	height:150px;
	background-color:blue;
	margin-left:550px;
	margin-top:200px;
}

/*-------------------------*
*		ARTICLE			  *
*-------------------------*/


	/* ------------ Cadre Article ------------ */

	#article{
		background:url(../images/fond.png) repeat;
		padding:20px;
	}

	
	/* titre des articles */
	.componentheading {padding:5px 0;}

	/* ------------ Les tableaux ------------ */

	#article table {
		width:940px;
		border-collapse:collapse;
	}
	
	#article table th, td {
		padding:10px 0;
		text-align:left;
	}
	
	#article table .col1{width:180px;}

	.article_separator {
		border-bottom:2px solid #FFFFFF;
		margin:10px 0;
	}